{% extends "base.html" %}
{% block content %}
<article>
  <h1>{{ post.title }}</h1>
  <small>by {{ post.author.username }} · {{ post.created_at|date:"Y-m-d H:i" }}</small>
  <div>{{ post.content|linebreaks }}</div>

  {% if post.tags.all %}
  <p>
    <strong>Tags:</strong>
    {% for tag in post.tags.all %}
      <a href="{% url 'tag_detail' tag.name %}">#{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </p>
  {% endif %}
</article>

<a href="{% url 'post_list' %}">Back to list</a>
{% endblock %}
